
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

.login-form {
  width: 400px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}


.logo-container{
  background-color: #3A506B;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* margin-left:  16px; */
  margin-bottom: 16px;
}

.app-logo{
  height: 84px;
  border-radius: 50%;
  /* background-color: white; */
}

.app-logo-title{
  font-size: 1.1rem;
}


canvas{
  width: 600px;
  height: 700px;
}