.card-container{
    position: relative;
    
    width: 180px;
    height: 180px;
    /* color: white; */
    padding: 8px;
    /* height: fit-content; */
    
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 6px;
}

.hidden-card-container{
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    transition: all 0.2s ease-in-out;
}

.hidden-card{
    height: 100%;
    padding: 10px;
    opacity: 4;
}

.real-cart-container{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    

}


.circle-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.938);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight:600;
    border:3px solid white;
    color: white;
  }
  

.cart-count{
    width: 20px;
    margin: 0 16px;
    font-size: 2rem;
    font-weight: 300;
    /* border: 1px solid red; */
}

.count-card-container{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    height: 100%;

}

.add-to-cart{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 1;
    color: white;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
}

.parent-card-container{
    background-color: rgba(171, 196, 163, 0.615);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(150, 150, 150, 0.859);
}

.product-details-div{

    text-align: center;

}

.product-details{
    margin-top: 2px;
    padding: 4px;
    background-color: #222522;
    /* padding:0 60px ; */
    color: rgb(159, 240, 73);
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
}

.product-details{
    margin-top: 2px;
    /* padding: 4px; */
    /* background-color: #dcdcdc; */
    /* padding:0 60px ; */
    /* color: rgb(159, 240, 73); */
    color: white;
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
}

